.goodbye: h3="Thanks for playing"
footer  
  .media
    p.follow= "Follow Me"
    a(href="https://twitter.com/_Luigui___" target="blank" alt= "Logo de twitter").twitter
    a(href="https://github.com/luigui-py" target="blank" alt= "Logo de github").github
    a(href="https://www.linkedin.com/in/luis-rodr%C3%ADguez-7099401b6/" target="blank" alt= "Logo de linkedln").linkedin
  .contact
    p="Contact me"
    input(type="text" placeholder="Name")
    input(type="email" placeholder="Email").
    input(type="text" placeholder="Message").message
    button="Send"
