extend modules/template.pug
block content

  .game
    .welcome
      h1= "Rock, paper or scissors"
      h2= "Choose an emoji"
    .emojis
      input(type="image" src="images/rock.png" value="none" id="rock")
      img(src="images/paper.png", alt="Paper" id="paper").emoji
      img(src="images/scissors.png", alt="Scissors" id="scissors").emoji
    button(type="button")="Play"
    .cpu
      h2= "CPU has chosen"
      .cpu__container: img(src="", alt="" id="cpu")
    .result: h2(id="result")
  
  script(src="logic.js") 