@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu";
}

h1 {
  font-style: italic;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-weight: 400;
  margin: 0;
}

h3 {
  font-weight: 400;
  margin: 0;
}

p {
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

header {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
  height: 55px;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}
.game__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.game__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  width: 100%;
}
.game__user .emojis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
}
.game__user .emojis img {
  width: 75px;
}
.game__user .emojis .emoji:hover {
  -webkit-box-shadow: 10px 5px 5px rgba(107, 107, 107, 0.616);
          box-shadow: 10px 5px 5px rgba(107, 107, 107, 0.616);
}
.game__user .emojis .selected {
  -webkit-box-shadow: 5px 5px 15px rgba(59, 59, 238, 0.616);
          box-shadow: 5px 5px 15px rgba(59, 59, 238, 0.616);
}
.game__user .emojis img {
  -o-object-fit: contain;
     object-fit: contain;
}
.game button {
  margin-top: 20px;
  height: 30px;
  text-decoration: none;
  width: 75px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  font-family: "Ubuntu";
  font-weight: 500;
  color: white;
  background-color: black;
}
.game .cpu {
  margin-top: 40px;
  height: 120px;
}
.game .cpu__emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
}
.game .result {
  height: 1.5em;
  margin-top: 40px;
}
.game .result .win {
  color: green;
}
.game .result .lost {
  color: #e60f0f;
}
.game .result .tie {
  color: #ca8505;
}

.goodbye {
  color: black;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  color: white;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .media {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .media .follow {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .media a {
  float: left;
  width: 35px;
  height: 35px;
  margin: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}
footer .media .twitter {
  background-image: url("images/twiter.png");
}
footer .media .github {
  background-image: url("images/github.png");
}
footer .media .linkedin {
  background-image: url("images/linkedin.png");
}
footer .contact {
  margin-top: 40px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contact input {
  margin-bottom: 5px;
  width: 100%;
  border-radius: 10px;
  height: 25px;
}
footer .contact .message {
  height: 50px;
}
footer .contact button {
  height: 30px;
  text-decoration: none;
  width: 150px;
  border-radius: 10px;
}