.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  &__name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacing;
  }
  &__user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacing;
    width: 100%;
    .emojis{
      @include emojiStyle;
      img{
        width: 75px;
      }
      .emoji:hover{
        filter: drop-shadow(10px 5px 5px rgba(107, 107, 107, 0.616)); 
      }
      .selected{
        filter: drop-shadow(3px 3px 1px rgba(59, 59, 238, 0.616)); 
      }
      img{
        object-fit: contain;
      }
    }
  }
  button{
    margin-top: $midSpacing;
    height: 30px;
    text-decoration: none;
    width: 75px;
    border-radius: 10px;
    border-color:white;
    border-style: solid;
    font-family: 'Ubuntu';
    font-weight: 500;
    color: white;
    background-color: black;
  }
  .cpu{
    margin-top: $spacing;    
    height: 120px;
    &__emoji{
      @include emojiStyle
    }
  }
  .result{
    height: 1.5em;
    margin-top: $spacing;
    .win{
      color: green;     
    }
    .lost{
      color: rgb(230, 15, 15);
    }
    .tie{
      color: rgb(202, 133, 5);
    }
  }
}