.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .emojis{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 75px;
    object-fit: cover;
    img{
      object-fit: contain;
    }
  }
}