.goodbye{
  color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $spacing;
}
footer{
  padding-top: $spacing;
  padding-bottom: $spacing;
  background-color: black;
  color: white;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .media{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    .follow{
      width: 200px;
      display: flex;
      justify-content: center;
    }
    a{
      float: left;
      width: 35px;
      height: 35px;
      margin: 15px;
      background-repeat: no-repeat;
      background-size:contain;
      font-size: 35px;
      color: white;
      text-decoration: none;
    }    
  }
  .contact{
    margin-top: $spacing;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
      margin-bottom: 5px;
      width: 100%;
      border-radius: 10px;
      height: 25px;
    }
    .message{
      height: 50px;
    }
    button{
      height: 30px;
      text-decoration: none;
      width: 150px;
      border-radius: 10px;
    } 
  }
}